<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <section name="UrlSources" type="Carubbi.FileDownloaderScheduler.Configuration.UrlSources, Carubbi.FileDownloaderScheduler.Configuration"/>
  </configSections>

  <UrlSources>
    <add path="C:\FileDownloaderSchedulerInput\PLAN_700120.XLS"/>
    <add path="C:\FileDownloaderSchedulerInput\PLAN_721357.XLS"/>
    <add path="C:\FileDownloaderSchedulerInput\PLAN_721365.XLS"/>
  </UrlSources>

  <appSettings>
    <add key="minutesCycle" value="1"/>
    <add key="targetPath" value="C:\FileDownloaderSchedulerOutPut\Saida\"/>
    <add key="excelPath" value="C:\Program Files\Microsoft Office\Office12\"/>
    <add key="xlsPath" value="C:\FileDownloaderSchedulerOutPut\"/>
    <add key="prefixFileName" value=""/>
    <add key="sufixFileName" value=""/>
    <add key="secondsWaitProcess" value="10"/>
  </appSettings>

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup></configuration>
